body {
	background-color: #d7d7bf;

}
h1 {
	color: #4f2901;
	font-family: sans-serif;
	font-size: 30px;
}
h2 {
	color: #0a0e0c;
	font-size: 25px;
}
h3 {
	color: #8f612e;
	font-size: 20px;
}
a {
	color: #355013;
}